@import "../../App.scss";

.column-container {
  background-color: white;
  box-shadow: 5px 5px $background-blue;
  border-radius: 15px;
  height: 90%;
  min-width: 370px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;

  .column-header {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    .name {
      min-width: 120px;
    }
    .column-dots {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 6px;
      color: black;
      background-color: $light-blue;
      z-index: 9999;
      position: relative;
      top: -35px;
      left: 37px;
      height: 40px;
      width: 180px;
      button {
        @extend %button-setting;
        height: 30px;
        margin: 2px;
        font-size: 10px;
      }
      button:hover {
        @extend %button-hover;
      }
    }
    .column-dots:after {
      content: "";
      position: absolute;
      margin-top: -12px;
      margin-left: -5px;
      border-left: 12px solid transparent;
      border-bottom: 12px solid $light-blue;
      transform: rotate(45deg);
      right: 16px;
      bottom: -6px;
    }
    .dots-plus {
      display: flex;
      .fa-ellipsis-h {
        margin: 3px;
      }
      .fa-ellipsis-h:hover {
        cursor: pointer;
      }
      .fa-plus {
        margin: 3px;
      }
      .fa-plus:hover {
        cursor: pointer;
      }
    }
  }
  .map-task-holder {
    height: 90%;
    width: 100%;
    overflow-y: auto;
    .add-task {
      background-color: #e4e3e3;
      box-shadow: 4px 4px #d8d8d8;
      border-radius: 5px;
      height: 10%;
      margin: 12px;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      button {
        @extend %button-setting;
        height: 20px;
      }
      button:hover {
        @extend %button-hover;
        height: 20px;
        cursor: pointer;
      }
    }
    .mapped-tasks {
      min-height: 95%;
      max-height: 100%;
      padding: 0px;
      .task {
        border-radius: 5px;
        height: 10%;
        display: flex;
        align-items: center;
        margin: 12px;
        cursor: move;
        .task-name-holder {
          max-height: 80%;
          width: 75%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          overflow-y: auto;
          .task-editor {
            button {
              @extend %button-setting;
              height: 20px;
            }
            button:hover {
              @extend %button-hover;
              height: 20px;
              cursor: pointer;
            }
          }
        }
      }
      .task-buttons {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .task-editor {
          width: 100%;
          input {
            width: 80px;
          }
          span {
            button {
              @extend %button-setting;
              height: 20px;
              padding: 2px;
            }
            button:hover {
              @extend %button-hover;
              height: 20px;
            }
          }
        }
        .task-holder {
          button {
            @extend %button-setting;
            height: 20px;
            margin: 5px;
          }
          button:hover {
            @extend %button-hover;
            height: 20px;
            cursor: pointer;
          }
        }
        .far:hover {
          color: $background-blue;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .column-container {
    height: 30%;
    width: 90%;
    min-width: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .column-header {
      height: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      .column-dots {
        top: -10px;
      }
      .column-dots:after {
        margin-top: -12px;
        margin-left: -5px;
        border-left: 12px solid transparent;
        border-bottom: 12px solid $light-blue;
        transform: rotate(-45deg);
        right: -5px;
        bottom: 5px;
      }
    }
    .map-task-holder {
      height: 90%;
      width: 100%;
      .add-task {
        height: 40px;
        display: flex;
        margin: 10px;
      }
      .mapped-tasks {
        border-radius: 15px;
        padding: 0px;
        .task {
          height: 40px;
          display: flex;
          margin: 10px;
        }
        .task-name {
          width: 75%;
        }
        .task-buttons {
          width: 25%;
          flex-direction: row;
          .task-editor {
            width: 100%;
            input {
              width: 80px;
            }
            // span {
            //   button {
            //     @extend %button-setting;
            //     height: 20px;
            //     padding: 2px;
            //   }
            //   button:hover {
            //     @extend %button-hover;
            //     height: 20px;
            //   }
            // }
          }
          // .task-holder {
          //   button {
          //     @extend %button-setting;
          //     height: 20px;
          //   }
          //   button:hover {
          //     @extend %button-hover;
          //     height: 20px;
          //   }
          // }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .column-container {
    min-height: 200px;
  }
}
