@import "../../App.scss";

.groups-holder {
  height: 77%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .group-search {
    position: absolute;
    top: 150px;
  }
  .create-group-container {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .create-group {
      width: 200px;
      margin: 5px;
    }
    .create-group-button {
      @extend %button-setting;
      height: 20px;
    }
    .create-group-button:hover {
      @extend %button-hover;
    }
  }
  .groups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    .group {
      border-radius: 100px;
      margin: 10px;
      .group-button {
        font-family: "lemonmilk_lightregular", Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        outline: none;
        border: none;
        border-radius: 100px;
        height: 100px;
        width: 100px;
      }
    }
    .plus-button {
      border: none;
      font-size: 16px;
      height: 100px;
      width: 100px;
      border-radius: 50px;
      position: relative;
      outline: none;
      margin: 10px;
      &:after,
      &:before {
        content: "";
        display: block;
        background-color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:before {
        height: 1em;
        width: 0.2em;
      }

      &:after {
        height: 0.2em;
        width: 1em;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 650px) {
  .groups-holder {
    .groups {
      overflow-y: scroll;
      width: 70%;
      justify-content: center;
    }
  }
}
