@import "../../App.scss";

.board-container {
  background-color: $dark-blue;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  .footer-toggle {
    background-color: transparent;
    border: solid black;
    border-width: 0 5px 5px 0;
    outline: none;
    padding: 3px;
    position: fixed;
    left: 5px;
    margin: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.3s;
  }
  .footer-toggle:hover {
    cursor: pointer;
  }
  .move-right {
    background-color: transparent;
    border: solid black;
    border-width: 0 5px 5px 0;
    outline: none;
    padding: 3px;
    position: fixed;
    left: 130px;
    margin: auto;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transition: 0.3s;
  }
  .move-right:hover {
    cursor: pointer;
  }
  footer {
    background-color: #333;
    position: fixed;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 100%;
    transition: 0.3s;
    z-index: 9999;
    .sidebar-holder {
      display: none;
      transition: 0.3s;
    }
  }
  .show {
    background-color: #333;
    width: 120px;
    transition: 0.3s;
    overflow: visible;
    z-index: 9999;
    .sidebar-holder {
      background-color: #333;
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: 0.3s;
    }
  }
  .groups-columns {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    .select-group {
      background-color: $light-blue;
      height: 100%;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .main-h1 {
        position: absolute;
        top: 120px;
        z-index: 1;
      }
    }
    .displayed-group {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      .main-h1 {
        background-color: $light-blue;
        border-radius: 15px;
        font-weight: bold;
        font-size: 32px;
        position: absolute;
        top: 110px;
        text-anchor: center;
        line-height: 40px;
        padding: 6px;
        z-index: 1;
      }
      .add-column {
        background-color: $light-blue;
        border-radius: 100px;
        padding: 5px;
        position: absolute;
        top: 110px;
        right: 10px;
      }
      .add-column:hover {
        cursor: pointer;
      }
      .edit-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        // width: auto;
        border-radius: 6px;
        margin-right: 40px;
        color: black;
        background-color: $light-blue;
        position: absolute;
        top: 111px;
        right: 10px;
        z-index: 9999;
        .renamer {
          input {
            width: 300px;
          }
          button {
            @extend %button-setting;
            height: 20px;
            margin: 2px;
          }
          button:hover {
            @extend %button-hover;
            height: 20px;
            margin: 2px;
            cursor: pointer;
          }
        }
        .adder {
          input {
            width: 300px;
          }
          button {
            @extend %button-setting;
            height: 20px;
            margin: 2px;
          }
          button:hover {
            @extend %button-hover;
            height: 20px;
            margin: 2px;
            cursor: pointer;
          }
        }
      }
      .edit-fields:after {
        content: "";
        position: absolute;
        margin-top: -12px;
        margin-left: -5px;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $light-blue;
        transform: rotate(-135deg);
        right: -5px;
        top: 18px;
      }
      .mapped-columns {
        overflow-x: scroll;
        height: 80%;
        // width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 105px;
        // justify-content: space-between;
      }
    }
  }
}

@media (max-width: 1000px) {
  .board-container {
    .groups-columns {
      .displayed-group {
        width: 80%;
        // .mapped-columns {
        //   background-color: aqua;
        //   overflow-x: scroll;
        //   height: 80%;
        //   width: 100%;
        //   display: flex;
        //   align-items: center;
        //   // justify-content: space-between;
        // }
      }
    }
  }
}

@media (max-height: 800px) {
  .board-container {
    .groups-columns {
      .displayed-group {
        .main-h1 {
          top: 110px;
          height: 30px;
          font-size: 22px;
          line-height: 20px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .board-container {
    .groups-columns {
      .select-group {
        .main-h1 {
          font-size: 14px;
          width: 80%;
          z-index: 1;
        }
      }
      .displayed-group {
        width: 80%;
        .main-h1 {
          top: 105px;
        }
        .mapped-columns {
          flex-direction: column;
          overflow-x: hidden;
        }
      }
    }
  }
}

@media (max-height: 600px) {
  .board-container {
    height: 100vh;
    overflow-y: scroll;
    .groups-columns {
      margin-top: 70px;
    }
  }
}

@media (max-height: 570px) {
  .board-container {
    .move-right {
      left: 110px;
    }
    .show {
      width: 100px;
    }
  }
}

@media (max-width: 320px) {
  .board-container {
    .groups-columns {
      .displayed-group {
      .mapped-columns {
        padding-left: 0px;
        padding-top: 30px;
        }
      }
    }
  }
}
