$lightest-blue: #96d4d7;
$light-blue: #93d1d7;
$mid-blue: #61a0c8;
$mid-dark-blue: #327cb9;
$dark-blue: #2561ad;
$darkest-blue: #2460ad;
$background-blue: #24528f;
$background-grey: #282c34;

%button-setting{
  color: $darkest-blue;
  border: 2px solid $darkest-blue;
  background-color: #f0f0f0;
  border-radius: 4px;
  text-transform: uppercase;
  height: 30px;
  outline: none;
}

%button-hover {
  color: #f0f0f0;
  border: 2px solid $darkest-blue;
  background-color: $darkest-blue;
  border-radius: 4px;
  text-transform: uppercase;
  height: 30px;
  outline: none;
}

@font-face {
  font-family: 'lemonmilk_lightregular';
  src: url('./fonts/lemonmilklight-webfont.woff2') format('woff2'),
       url('./fonts/lemonmilklight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'lemonmilk_lightregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  height: 100vh;
  width: 100%;
  background-color: $background-blue;
  text-align: center;
}
