// @font-face {
//     font-family: 'LemonMilk';
//     src: url('LemonMilklight.oft');
// }

@import url('http://dl.dafont.com/dl/?f=lemon_milk');

.home-main {
    font-family: 'lemon_milk', sans-serif;
    background-color: #282c34;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h2 {
        font-size: 40px;
    }
    h1 {
        color: #96d4d7;
        text-shadow: 5px 5px #61a0c8, 10px 10px #327cb9, 15px 15px #2460ad;
        font-size: 100px;
    }
}