@import '../../App.scss';

.auth-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'lemonmilk_lightregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    form {
        background-color: $lightest-blue;
        box-shadow: 5px 5px $mid-blue, 10px 10px $mid-dark-blue, 15px 15px $darkest-blue;
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .error {
            height: 20px;
        }
        .inputs {
            height: 200px;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .username-i {
                display: flex;
                flex-direction: column;
            }
            .email-i {
                display: flex;
                flex-direction: column;
            }
            .password-i {
                display: flex;
                flex-direction: column;
            }
        }
        .submit {
            @extend %button-setting;
        }
        .submit:hover {
            @extend %button-hover;
        }
    }
    .switcher {
        @extend %button-setting;
    }
    .switcher:hover {
        @extend %button-hover;
    }
}